/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif, Helvetica, serif;
  overflow-y: hidden;
}

/*
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

*/

a {
  color: white;
  opacity: 1;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#menu a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

#menu button {
  margin-right: 0.2em;
}

@media screen and (min-width: 480px) {
  #app {
    font-size: 1em;
  }

  #app .child {
    font-size: 2em;
    text-align: center;
    position: relative;
  }

  #wifi-status {
    font-size: 1em;
    font-family: monospace;
  }

  #menu {
    font-size: 1em;
  }
}

@media screen and (min-width: 960px) {
  #app {
    font-size: 1em;
  }

  #app .child {
    font-size: 4em;
    text-align: center;
    position: relative;
  }

  #wifi-status {
    font-size: 1.5em;
    font-family: monospace;
  }

  #menu {
    font-size: 2em;
  }
}

@media screen and (min-width: 1200px) {
  #app {
    font-size: 1em;
  }

  #app .child {
    font-size: 6em;
    text-align: center;
    position: relative;
  }

  #wifi-status {
    font-size: 2em;
    font-family: monospace;
  }

  #menu {
    font-size: 3em;
  }

  #camera div:first-child {
    margin-top: 0.7em;
  }

  #camera div span {
    font-size: 0.5em;
  }
}
